##### KEYBINDS #####
bindkey -e                                        # emacs key bindings
bindkey ' ' magic-space                           # do history expansion on space
bindkey '^[[3;5~' kill-word                       # ctrl + Supr
bindkey '^[[3~' delete-char                       # delete
bindkey '^[[1;5C' forward-word                    # ctrl + ->
bindkey '^[[1;5D' backward-word                   # ctrl + <-
bindkey '^[[5~' beginning-of-buffer-or-history    # page up
bindkey '^[[6~' end-of-buffer-or-history          # page down
bindkey '^[[H' beginning-of-line                  # home
bindkey '^[[F' end-of-line                        # end
bindkey '^[[Z' undo                               # shift + tab undo last action

##########   OH-MY-ZSH CONFIGURATION ##########
# Path to your oh-my-zsh installation.
export ZSH="{{ OhMyZsh_path }}"

ZSH_THEME="powerlevel10k/powerlevel10k"
COMPLETION_WAITING_DOTS="%F{yellow}waiting...%f"
plugins=(git)
source $ZSH/oh-my-zsh.sh

# Uncomment the following line if pasting URLs and other text is messed up.
# DISABLE_MAGIC_FUNCTIONS="true"


#################   ALIASES   #################
export LS_OPTIONS="--color=auto -h"
alias ll='ls -l '$LS_OPTIONS''
alias la='ls -A '$LS_OPTIONS''
alias l='ls -CF '$LS_OPTIONS''
alias ConLog='cat /proc/net/nf_conntrack'
alias LsofPorts='lsof -i -P -n'
alias motd='run-parts /etc/update-motd.d/'
alias cls=clear
alias py=python3
alias pip=pip3
alias 1e='openssl enc -aes-256-cbc -pbkdf2 -iter 10000 -in'
alias 1d='openssl enc -aes-256-cbc -pbkdf2 -d -in'