############ GENERAL PARAMETERS #################

PidFile={{ ZabbixConf_General_PidFile_agent2 }}
LogType={{ ZabbixConf_General_LogType }}
LogFile={{ ZabbixConf_General_LogFile_agent2 }}
LogFileSize={{ ZabbixConf_General_LogFileSize }}
DebugLevel={{ ZabbixConf_General_DebugLevel }}

SourceIP={{ ZabbixConf_General_SourceIP }}
AllowKey={{ ZabbixConf_General_AllowKey }}
DenyKey={{ ZabbixConf_General_DenyKey }}
Plugins.SystemRun.LogRemoteCommands={{ ZabbixConf_General_LogRemoteCommands }}
ForceActiveChecksOnStart={{ ZabbixConf_General_ForceActiveChecksOnStart }}


##### Passive checks related

Server={{ ZabbixConf_Passive_Server }}
ListenPort={{ ZabbixConf_Passive_ListenPort }}
ListenIP={{ ZabbixConf_Passive_ListenIP }}
StatusPort={{ ZabbixConf_Passive_StatusPort }}


##### Active checks related

ServerActive={{ ZabbixConf_Active_ServerActive }}
HostnameItem={{ ZabbixConf_Active_HostnameItem }}
HostMetadata={{ ZabbixConf_Active_HostMetadata }}
HostMetadataItem={{ ZabbixConf_Active_HostMetadataItem }}
RefreshActiveChecks={{ ZabbixConf_Active_RefreshActiveChecks }}
BufferSend={{ ZabbixConf_Active_BufferSend }}
BufferSize={{ ZabbixConf_Active_BufferSize }}
HeartbeatFrequency={{ ZabbixConf_Active_HeartbeatFrequency }}
Plugins.Log.MaxLinesPerSecond={{ ZabbixConf_Active_MaxLinesPerSecond }}

EnablePersistentBuffer={{ ZabbixConf_Active_EnablePersistentBuffer }}
PersistentBufferPeriod={{ ZabbixConf_Active_PersistentBufferPeriod }}
PersistentBufferFile={{ ZabbixConf_Active_PersistentBufferFile }}


############ ADVANCED PARAMETERS #################

Timeout={{ ZabbixConf_Advanced_Timeout }}
# Includes
{{ ZabbixConf_Advanced_Include_agent2 }}

ControlSocket={{ ZabbixConf_Advanced_ControlSocket }}


####### USER-DEFINED MONITORED PARAMETERS #######

UnsafeUserParameters={{ ZabbixConf_UserParams_UnsafeUserParameters }}
UserParameterDir={{ ZabbixConf_UserParams_UserParameterDir }}
# UserParams
{{ ZabbixConf_UserParams_UserParameter }}


####### TLS-RELATED PARAMETERS #######

TLSConnect={{ ZabbixConf_Encryption_TLSConnect }}
TLSAccept={{ ZabbixConf_Encryption_TLSAccept }}
TLSCAFile={{ ZabbixConf_Encryption_TLSCAFile }}
TLSCRLFile={{ ZabbixConf_Encryption_TLSCRLFile }}
TLSServerCertIssuer={{ ZabbixConf_Encryption_TLSServerCertIssuer }}
TLSServerCertSubject={{ ZabbixConf_Encryption_TLSServerCertSubject }}
TLSCertFile={{ ZabbixConf_Encryption_TLSCertFile }}
TLSKeyFile={{ ZabbixConf_Encryption_TLSKeyFile }}
TLSPSKIdentity={{ ZabbixConf_Encryption_TLSPSKIdentity }}
TLSPSKFile={{ ZabbixConf_Encryption_TLSPSKFile }}


####### PLUGIN-SPECIFIC PARAMETERS #######

PluginTimeout={{ ZabbixConf_Plugin_Timeout }}
PluginSocket={{ ZabbixConf_Plugin_Socket }}